{{#link-to "users.create" class="create-btn"}} Add user {{/link-to}}

<ul class="users-listing">
  {{#each user in controller}}
    <li>
      {{#link-to "user" user}}
        {{user.name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No users...</li>
  {{/each}}
</ul>

{{outlet}}

<div>Users: {{ usersCount }}</div>