<div class="user-profile">
  <button {{action "edit"}}>Edit</button>
  <button {{action "delete"}}>Delete</button>
  <img {{bind-attr src="avatarUrl"}} alt="User's avatar" />
  <h2>{{name}}</h2>
  <span>{{email}}</span>
  <p>{{bio}}</p>
  <span>Created {{formatDate creationDate}}</span>
</div>

{{outlet}}